* {
  font-family: monospace;
}

h1 {
  width: 100%;
  height: 100px;
  background-image: url("/src/todobackground.jpeg");
  background-position: bottom;
  background-size: cover;
  color: #363636;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  line-height: 100px;
}

h3 {
  color: #484848;
  height: 60px;
  line-height: 60px;;
}

p {
  width: 280px;
}

i {
  font-size: 0.6em;
  max-width: 280px;
  width: 300px;
  display: block;
}

img.garbage {
  width: 20px;
  display: inline-block;
}

button {
  width: 24px;
  height: 24px;
  background: #e37373;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  border: 2px solid #a13636;
  display: inline-block;
  margin: 6px;
}

.todos {
  min-height: 100vh;
  background-image: url("/src/todobackground.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
}

.todos-container, .dones-container {
  width: 45%;
  height: auto;
}

.print-dones {
  width: 100%;
  background-image: url("/src/todobackground.jpeg");
  background-position: top;
  background-size: cover;
  padding: 10px;
  border: 2px solid #497880;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.print-undones {
  width: 100%;
  background-image: url("/src/todobackground.jpeg");
  background-position: bottom;
  background-size: cover;
  padding: 10px;
  border: 2px solid #a68d32;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.print-todo-container {
  background: #ffffff;
  color: #636363;
  min-width: 280px;
  max-width: 280px;
  height: 100px;
  border-radius: 6px;
  border: 1px dotted #636363;
  margin: 10px;
}

.addtodo-container {
  width: 100%;
}

.addtodo-container input {
  width: 80%;
  height: 45px;
  border: none;
  border-radius: 6px;
  margin: 10px 0 10px 0;
  padding: 10px;
  box-sizing: border-box;
}

.addtodo-container button {
  width: 100px;
  height: 45px;
  margin: 0 0 0 20px;
}